page-listherb {

}
.spbg{
    background: transparent;
    color: white;
    //height:5px;
}
.susun{
    background: transparent;
    color: white;
    height:4rem;
}
.alpha{
    border-radius: 5px;
    height:5px;
    width:5px;
}
.rounded{
    border-radius: 5px;
    //height:5px;
}

.padding{
    padding-top: 1px;
    padding-bottom: 0px;
}


.item ion-thumbnail {
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        //min-width: 5rem;
        max-height: 5rem;
    }

}

.small{
    width: 6rem;
    color: forestgreen;
    border-radius: 2px;
}

/* Shahrul */
.dropbtn {
    background-color: forestgreen;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: inherit;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: forestgreen;
  }

  .ran{
    vertical-align: middle;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    padding-left: 13px
  }

  .pad{
    padding-right: 5px;
  }

  .pads{
    padding-right: 3px;
  }
